<!DOCTYPE html>
<html lang="en">
<head>
	<title>SONDER</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7-dist\css\bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav class="navbar navbar-default navbar-expand-lg sticky">
		<div class="container-fluid">
			<div class="navbar-header nhdr1">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/images/Logo.png" width="110" height="60" alt="No Judgement Zone"></a>
			</div>
			<div class="navbar-collapse collapse" id="navbarSupportedContent">
				<ul id="nav" class="nav navbar-nav navbar-right">
					<%if(!currentUser){ %>
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Sign Up</a></li>
					<li><a href="/story">Stories</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/help">Help</a></li>
					<% }else{ %>
					<li><a href="/story">Stories</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/help">Help</a></li>
					<li class="dropdown list-inline">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi , <%=currentUser.username%>&nbsp;&nbsp;
							<img class="img-circle" src="<%=currentUser.image%>" onerror="this.src='https://myspace.com/common/images/user.png'" style="width:25px; height: 25px;">
							<span><i class="caret" aria-hidden="true"></i></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dm1"><a href="/biodata/<%=currentUser._id%>">Profile</a></li>
							<li class="dm1"><a href="/logout">Log Out</a></li>	
						</ul>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<%if(error && error.length>0){%>
		<div class="alert alert-danger" role="alert"><%=error%></div>
		<%}%>
		<%if(success && success.length>0){%>
		<div class="alert alert-success" role="alert"><%=success%></div>
		<%}%>
	</div>